<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>Wlniao.i</title>
    <link rel="stylesheet" href="@ViewBag.iHost/oem/style.css" />
    <link rel="stylesheet" href="@ViewBag.iHost/vue/2.5.3/element-ui/lib/theme-default/index.css">
    <script type="text/javascript" src="@ViewBag.iHost/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="@ViewBag.iHost/vue/2.5.3/vue.min.js"></script>
    <script type="text/javascript" src="@ViewBag.iHost/vue/2.5.3/vue-router.js"></script>
    <script type="text/javascript" src="@ViewBag.iHost/vue/2.5.3/vue-xcenter.js"></script>
    <script type="text/javascript" src="@ViewBag.iHost/vue/2.5.3/element-ui/lib/index.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>