<link href="/UMeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
<script type="text/javascript" src="/UMeditor/umeditor.config.js"></script>
<script type="text/javascript" src="/UMeditor/umeditor.min.js"></script>
<script type="text/javascript" src="/UMeditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="@ViewBag.Assets/wlnctrl/0.4.0/uploader.min.js"></script>


<body class="wln">
    <table class="wln-window-table">
        <tr>
            <td>标题：</td>
            <td style="width:700px;">
                <input type="text" id="Title" value="@Html.Raw(ViewData["Title"])" style="width:520px;" /><span class="tips notnull"></span>
                <span style="margin-left:60px;">所属栏目：<b>@Html.Raw(ViewBag.ColumnName)</b></span>
            </td>
            <td rowspan="6" style="width:150px;vertical-align:top;text-align:center;">
                <input type="hidden" name="ImageUrl" id="ImageUrl" />
                <div style="display:block;text-align:center;">封面图</div>
            </td>
            <td rowspan="6"></td>
        </tr>
        @*<tr>
            <td style="vertical-align:top">副标题：</td>
            <td>
                <input type="text" id="SubTitle" value="@Html.Raw(ViewData["SubTitle"])" style="width:520px;" />
            </td>
        </tr>*@
        <tr>
            <td style="vertical-align:top">简要：</td>
            <td>
                <textarea id="Summary" style="width:520px;height:60px;">@Html.Raw(ViewData["Summary"])</textarea>
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top">内容：</td>
            <td>
                <script type="text/plain" id="myEditor" style="width:760px;">@Html.Raw(ViewData["ContentText"])</script>
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top">附件：</td>
            <td>
                <input type="hidden" name="FileList" id="FileList" />
            </td>
        </tr>
        <tr>
            <td>发布时间：</td>
            <td>
                <input type="text" id="PublishTime" value="@ViewData["PublishTime"]" style="width:200px;" /><span class="tips">格式：2017-01-01</span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="3">
                <input type="button" value="保存" onclick="Save()" class="button green" style="border-radius:1px;" />
                <input type="button" value="返回" onclick="self.history.back()" class="button white" style="border-radius:1px;" />
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        var um = UM.getEditor('myEditor', {
            imagePath: "@Html.Raw(ViewBag.StorageUrl)",
            toolbar: ['fullscreen source undo redo bold italic underline horizontal| forecolor backcolor| fontfamily fontsize',
            '| justifyleft justifycenter justifyright justifyjustify |',
            'link unlink | image video attachment removeformat '],
            wordCount: false,
            elementPathEnabled: false,
            initialFrameHeight: $(window).height() - 300
        });
        var upload = createUpload('ImageUrl', function () { }, '/rest/upload');
        upload.load('@ViewData["ImageUrl"]');
        var uplist = createUplist('FileList', function () { }, '/rest/upload', true);
        uplist.load('@ViewData["FileList"]', true);
        var Submiting = false;
        var SubmitTimeout = setTimeout(function () {
            Submiting = false;
        },1);
        function Save() {
            if (Submiting) {
                control.error('数据正在提交中，请稍候');
            } else {
                Submiting = true;
                SubmitTimeout = setTimeout(function () {
                    Submiting = false;
                }, 30 * 1000);

                $.post("/content/content?do=publish", {
                    code: '@ViewBag.ColumnCode',
                    id: '@ViewData["Id"]',
                    title: $('#Title').val(),
                    subtitle:$('#SubTitle').val(),
                    summary:$('#Summary').val(),
                    imageurl: $('#ImageUrl').val(),
                    filelist: $('#FileList').val(),
                    publishtime: $('#PublishTime').val(),
                    content: $("#myEditor").html()
                }, function (json) {
                    if (json.success) {
                        control.success('提交成功，内容已保存', function () {
                            self.history.back();
                        });
                    } else {
                        control.error(json.message);
                    }
                });
            }
                @*var XMLHttp = null;
                if (window.XMLHttpRequest) {
                    XMLHttp = new XMLHttpRequest();
                } else if (window.ActiveXObject) {
                    XMLHttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
                XMLHttp.onreadystatechange = function () {
                    if (XMLHttp.readyState == 4 && XMLHttp.status) {
                        clearTimeout(SubmitTimeout);
                        Submiting = false;
                        var json = eval("(" + XMLHttp.responseText + ")");
                        if (json) {
                            if (json.success) {
                                control.success('提交成功，内容已保存', function () {
                                    self.history.back();
                                });
                            } else {
                                control.error(json.message);
                            }
                        }
                    } else {
                        console.log(XMLHttp.status)
                    }
                };
                XMLHttp.open('POST'
                    ,'content?do=publish&code=@ViewBag.ColumnCode&id=@ViewData["Id"]&title=' + encodeURIComponent($('#Title').val()) + '&subtitle=' + encodeURIComponent($('#SubTitle').val()) + '&summary=' + encodeURIComponent($('#Summary').val()) + '&imageurl=' + $('#ImageUrl').val() + '&filelist='+ $('#FileList').val() + '&publishtime='+$('#PublishTime').val()
                    , true);
                XMLHttp.send(um.getContent());
            }*@
        }
    </script>
</body>