<link href="/UMeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
<script type="text/javascript" src="/UMeditor/umeditor.config.js"></script>
<script type="text/javascript" src="/UMeditor/umeditor.min.js"></script>
<script type="text/javascript" src="/UMeditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="@ViewBag.Assets/wlnctrl/0.4.0/uploader.min.js"></script>


<body class="wln">
<table class="wln-window-table">
    <tr>
        <td>内容标题：</td>
        <td style="width:800px;">
            <input type="text" id="Title" value="@Html.Raw(ViewData["Title"])" style="width:580px;" /><span class="tips notnull"></span>
            <span style="margin-left:60px;">所属栏目：<b>@Html.Raw(ViewBag.ColumnName)</b></span>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top">内容正文：</td>
        <td>
            <script type="text/plain" id="myEditor" style="width:780px;">@Html.Raw(ViewData["ContentText"])</script>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top">图片列表：</td>
        <td>
            <input type="hidden" name="FileList" id="FileList" />
        </td>
    </tr>
    <tr>
        <td>排序权重：</td>
        <td>
            <input type="text" id="Weight" value="@ViewData["Weight"]" style="width:60px;" /><span class="tips">权重越大排序越靠前</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="3">
            <input type="button" value="保存" onclick="Save()" class="button green" style="border-radius:1px;" />
            <input type="button" value="返回" onclick="self.history.back()" class="button white" style="border-radius:1px;" />
        </td>
    </tr>
</table>
<script type="text/javascript">
        var um = UM.getEditor('myEditor', {
            imagePath: "@Html.Raw(ViewBag.StorageUrl)",
            toolbar: ['fullscreen source undo redo bold italic underline horizontal| forecolor backcolor| fontfamily fontsize',
            '| justifyleft justifycenter justifyright justifyjustify |',
            'link unlink | image video attachment removeformat '],
            wordCount: false,
            elementPathEnabled: false,
            initialFrameHeight: $(window).height() - 240
        });
        var uplist = createUplist('FileList', function () { }, '/rest/upload');
        uplist.load('@ViewData["FileList"]');
        var Submiting = false;
        var SubmitTimeout = setTimeout(function () {
            Submiting = false;
        },1);
        function Save() {
            if (Submiting) {
                control.error('数据正在提交中，请稍候');
            } else {
                Submiting = true;
                SubmitTimeout = setTimeout(function () {
                    Submiting = false;
                }, 30 * 1000);
                $.post('content?do=publish&code=@ViewBag.ColumnCode&id=@ViewData["Id"]', {
                    title: $('#Title').val()
                    ,
                    weight: $('#Weight').val()
                    ,
                    filelist: $('#FileList').val()
                    ,
                    content: um.getContent()
                }, function (json) {
                    clearTimeout(SubmitTimeout);
                    Submiting = false;
                    if (json.success) {
                        control.success('提交成功，内容已保存', function () {
                            self.history.back();
                        });
                    } else {
                        control.error(json.message);
                    }
                });
            }
        }
</script>
</body>